.custom-calendar {
    font-size: 30px; 
  }

  .custom-calendar .react-calendar__tile {
    width: 100%; 
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }



  /* TODO: adjust calendar width*/